@model eKlinika.ViewModels.UputnicaPrikaziVM
@{
    ViewData["Title"] = "Pregled uputnica";
}

<h3>Pregled uputnica</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Uputio ljekar</th>
                <th>Laboratorijski ljekar</th>
                <th>Vrsta pretrage</th>
                <th>Datum evidentiranja rezultata pretrage</th>
                <th>Nalaz gotov</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Uputnice)
            {
                <tr>
                    <td>@r.UputioLjekar</td>
                    <td>@r.LabLjekar</td>
                    <td>@r.VrstaPretrage</td>
                    <td>@(r.DatumRezultata == null || r.IsGotovNalaz == false ? "(nema rezultata)" : r.DatumRezultata.Value.ToShortDateString())</td>
                    <td>
                        @if (r.IsGotovNalaz == true)
                        {
                            @:✔
                        }
                        else
                        {
                            @:X
                        }

                    </td>
                    <td>
                        <a asp-action="UputnicaDetalji" asp-controller="Doktor" asp-route-uputnicaId="@r.UputnicaId" class="btn btn-info">Detalji</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="UputnicaDodaj" asp-controller="Doktor" asp-route-id="@Model.PacijentId" ajax-poziv="da" ajax-rezultat="tab-2" class="btn btn-primary">Dodaj</a>