@model eKlinika.ViewModels.UputnicaDetaljiVM
@{
    ViewData["Title"] = "Detalji";
}
<h2>Detalji uputnice</h2>
<h3>Podaci o uputnici</h3>
<div class="form-group" hidden>
    <input asp-for="Uputnica.UputnicaId" value="Uputnica.UputnicaId" readonly id="idInput" />
</div>

<div class="form-group">
    <label>Datum uputnice:</label>
    <input asp-for="Uputnica.DatumUputnice" value="@Model.Uputnica.DatumUputnice.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" class="form-control" readonly />
</div>

<div class="form-group">
    <label>Pacijent:</label>
    <input asp-for="Uputnica.Pacijent" value="@Model.Uputnica.Pacijent" class="form-control" readonly />
</div>

<div class="form-group">
    <label>Doktor:</label>
    <input asp-for="Uputnica.Doktor" value="@Model.Uputnica.Doktor" class="form-control" readonly />
</div>

<div class="form-group">
    <label>Vrsta pretrage:</label>
    <input asp-for="Uputnica.VrstaPretrage" value="@Model.Uputnica.VrstaPretrage" class="form-control" readonly />
</div>

<div class="form-group">
    <label>Datum rezultata:</label>
    <input asp-for="Uputnica.DatumRezultata" class="form-control" value="@(Model.Uputnica.DatumRezultata != null ? Model.Uputnica.DatumRezultata.Value.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T') : "")" readonly />
</div>

<div class="form-group">
    <label>Nalaz gotov:</label>
    @*<input asp-for="Uputnica.IsGotovNalaz" class="form-control" value="@Model.Uputnica.IsGotovNalaz" readonly />*@

    @if (@Model.Uputnica.IsGotovNalaz == true)
    {
        @:✔
    }
    else
    {
        @:X
    }


</div>

<button class="btn btn-primary" onclick="window.history.back();">Nazad</button>

