@model eKlinika.ViewModels.UplataIndexListVM

<h2>Uplate</h2>
<div class="row">
    <form method="get" asp-action="IndexUplate">
        <div class="row form-group">
            <label asp-for="@Model.Pretraga" class="col-md-1" style="vertical-align:middle;">Pretraga:</label>
            <div class="col-md-5">
                <input asp-for="@Model.Pretraga" class="form-control" />
            </div>
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-search icons-margin-right"></i> Traži
            </button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Datum uplate</td>
                <td>Iznos</td>
                <td>Namjena</td>


                <td>Akcija</td>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var item in Model.Uplate)
                {
                    <tr>
                        <td>@item.DatumUplate</td>
                        <td>@item.Iznos KM</td>
                        <td>@item.Namjena</td>

                        <td>
                            <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="UplataDetalji" asp-route-id="@item.Id">Detalji</a>
                            <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="UplataObrisi" asp-route-id="@item.Id">Obriši</a>
                            <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="UplataUredi" asp-route-id="@item.Id">Uredi</a>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="Index"><i class="fas fa-hand-point-left icons-margin-right"></i>Nazad</a>
    <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="UplataDodaj"><i class="fas fa-plus icons-margin-right"></i>Dodaj</a>
</div>

