@model eKlinika.ViewModels.PregledDodajVM
@{ 
    var date = DateTime.Now;
}
<h2>Dodaj nalaz</h2>

<div>
    <form asp-controller="MedicinskaSestra" asp-action="NalaziDodaj" ajax-poziv="da" ajax-rezultat="tab-3" method="post">
        @Html.HiddenFor(x => x.Pacijent)
        <div class="form-group">
            <label>Datum pregleda</label>
            <input asp-for="DatumPregleda" value="@date.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" class="form-control" />
            <span asp-validation-for="@Model.DatumPregleda"></span>
        </div>
        <div class="form-group">
            <label>Tip pregleda</label>
            <input asp-for="TipPregleda" class="form-control" />
            <span asp-validation-for="@Model.TipPregleda"></span>
        </div>
        <div class="form-group">
            <label>Napomena</label>
            <input asp-for="Napomena" class="form-control" />
            <span asp-validation-for="@Model.Napomena"></span>
        </div>
        <div class="form-group">
            <label>Prioritet</label>
            <input asp-for="Prioritet" class="form-control" />
            <span asp-validation-for="@Model.Prioritet"></span>
        </div>
        <div class="form-group">
            <label>Datum rezervacije</label>
            <input asp-for="DatumRezervacije" value="@date.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" class="form-control" />
            <span asp-validation-for="@Model.DatumRezervacije"></span>

        </div>

        <div class="form-group">
            <label>Medicinska sestra</label>
            <select asp-items="@Model.MedSestre" id="MedSestreDropdown" data-placeholder="Unesite ime i prezime medicinske sestre..." asp-for="MedSestra" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="@Model.MedSestra"></span>
        </div>

        <div class="form-group">
            <label>Doktor</label>
            <select asp-items="@Model.Doktori" asp-for="Doktor" class="form-control"></select>
            <span asp-validation-for="@Model.Doktor"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-default" />
    </form>
</div>
<script>

    $("#MedSestreDropdown").chosen({
        max_shown_results: 10
    });
</script>
