@model eKlinika.ViewModels.PacijentDetaljiVM

<h2>Detalji pacijenta</h2>
<div class="row">   
    <form class="col-md-5">
        <div class="form-group">
            <label asp-for="@Model.JMBG"></label>
            <input name="JMBG" value="@Model.JMBG" asp-for="JMBG" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Ime"></label>
            <input name="Ime" value="@Model.Ime" asp-for="Ime" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Prezime"></label>
            <input name="Prezime" value="@Model.Prezime" asp-for="Prezime" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.DatumRodjenja"></label>
            <input name="DatumRodjenja" value="@Model.DatumRodjenja.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" asp-for="DatumRodjenja" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Telefon"></label>
            <input name="Telefon" value="@Model.Telefon" asp-for="Telefon" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Ulica"></label>
            <input name="Ulica" value="@Model.Ulica" asp-for="Ulica" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Broj"></label>
            <input name="Broj" value="@Model.Broj" asp-for="Broj" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Ulica"></label>
            <input name="Ulica" value="@Model.Ulica" asp-for="Ulica" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Grad"></label>
            <input name="Grad" value="@Model.Grad" asp-for="Grad" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.KrvnaGrupa"></label>
            <input name="KrvnaGrupa" value="@Model.KrvnaGrupa" asp-for="KrvnaGrupa" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.BrojKnjizice"></label>
            <input name="BrojKnjizice" value="@Model.BrojKnjizice" asp-for="BrojKnjizice" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.BrojKartona"></label>
            <input name="BrojKartona" value="@Model.BrojKartona" asp-for="BrojKartona" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Visina"></label>
            <input name="Visina" value="@Model.Visina" asp-for="Visina" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Tezina"></label>
            <input name="Tezina" value="@Model.Tezina" asp-for="Tezina" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Alergije"></label>
            <input name="Alergije" value="@Model.Alergije" asp-for="Alergije" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.SpecijalniZahtjevi"></label>
            <input name="SpecijalniZahtjevi" value="@Model.SpecijalniZahtjevi" asp-for="SpecijalniZahtjevi" readonly class="form-control" />
        </div>

        <div class="form-group">
            <a class="btn btn-success" asp-controller="MedicinskaSestra" asp-action="PacijentUredi" asp-route-id="@Model.Id">Uredi</a>
        </div>
    </form>
</div>