@model eKlinika.ViewModels.PregledUrediVM

<h2>Uredi pregled</h2>
<div class="row">
    <form class="col-md-5" asp-controller="MedicinskaSestra" asp-action="PregledUredi" method="post">
        <div class="form-group" hidden>
            <input name="Id" value="@Model.Id" asp-for="Id" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.DatumPregleda"></label>
            <input name="DatumPregleda" asp-for="DatumPregleda" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.TipPregleda"></label>
            <input name="TipPregleda" asp-for="TipPregleda" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Napomena"></label>
            <input name="Napomena" asp-for="Napomena" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Prioritet"></label>
            <input name="Prioritet" asp-for="Prioritet" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.DatumRezervacije"></label>
            <input name="DatumRezervacije" asp-for="DatumRezervacije" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.PacijentId">Pacijent</label>
            <select asp-items="@Model.Pacijenti" asp-for="@Model.PacijentId" class="form-control"></select>
        </div>

        <div class="form-group">
            <label asp-for="@Model.MedicinskaSestraId">Medicinska sestra</label>
            <select asp-items="@Model.MedicinskaSestras" asp-for="@Model.MedicinskaSestraId" class="form-control"></select>
        </div>

        <div class="form-group">
            <label asp-for="@Model.DoktorId">Doktor</label>
            <select asp-items="@Model.Doktori" asp-for="@Model.DoktorId" class="form-control"></select>
        </div>

        <input type="submit" name="name" value="Submit" />

    </form>

</div>




