@model eKlinika.ViewModels.PregledIndexListVM

<h2>Pregledi </h2>

<div class="right">
    <form method="get" asp-action="PregledIndex">
        <input asp-for="Pretraga" placeholder="Unesite tip pregleda" class="form-control" style="display: inline-block; width: auto;" />
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Traži</button>
    </form>

</div>
<div class="row">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Datum pregleda</th>
                <th>Tip pregleda</th>
                <th>Napomena</th>
                <th>Prioritet</th>
                <th>Datum rezervacije</th>
                <th>Med. sestra</th>
                <th>Doktor</th>
                <th>Pacijent</th>
                <th style="width: 250px">Akcija</th>

            </tr>
        </thead>

        <tbody>
            @{
                foreach (var item in Model.Pregledi)
                {
            <tr>
                <td>@item.DatumPregleda.ToShortDateString()</td>
                <td>@item.TipPregleda</td>
                <td>@item.Napomena</td>
                <td>@item.Prioritet</td>
                <td>@item.DatumRezervacije.ToShortDateString()</td>
                <td>@item.MedSestra</td>
                <td>@item.Doktor</td>
                <td>@item.Pacijent</td>

                <td>
                    <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="PregledDetalji" asp-route-id="@item.Id">Detalji</a>
                    <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="PregledUredi" asp-route-id="@item.Id">Uredi</a>
                    <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="PregledObrisi" asp-route-id="@item.Id">Obriši</a>

                </td>

            </tr>
                }
            }
        </tbody>
    </table>

    <a class="btn btn-danger" asp-controller="MedicinskaSestra" asp-action="PregledDodaj">Dodaj</a>
</div>


