@model eKlinika.ViewModels.UplataUrediVM

<h2>Uredi uplatu</h2>
<div class="row">
    <form class="col-md-5" asp-controller="MedicinskaSestra" asp-action="UplataUredi" method="post">
        <div class="form-group" hidden>
            <input name="Id" value="@Model.Id" asp-for="Id" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.DatumUplate"></label>
            <input name="DatumUplate" asp-for="DatumUplate" class="form-control" />
            <span asp-validation-for="@Model.DatumUplate"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Iznos"></label>
            <input name="Iznos" value="@Model.Iznos" asp-for="Iznos" class="form-control" />
            <span asp-validation-for="@Model.Iznos"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Namjena"></label>
            <input name="Namjena" value="@Model.Namjena" asp-for="Namjena" class="form-control" />
            <span asp-validation-for="@Model.Namjena"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.BrojUplatnice"></label>
            <input name="BrojUplatnice" value="@Model.BrojUplatnice" asp-for="BrojUplatnice" class="form-control" />
            <span asp-validation-for="@Model.BrojUplatnice"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ZiroRacun"></label>
            <input name="ZiroRacun" value="@Model.ZiroRacun" asp-for="ZiroRacun" class="form-control" />
            <span asp-validation-for="@Model.ZiroRacun"></span>
        </div>

        @*<div class="form-group">
            <label asp-for="@Model.PregledId"></label>
            <input name="PregledId" value="@Model.PregledId" asp-for="PregledId" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.PacijentId"></label>
            <input name="PacijentId" value="@Model.PacijentId" asp-for="PacijentId" class="form-control" />
        </div>*@
        <input type="submit" name="name" value="Submit" />

    </form>

</div>


