@model eKlinika.ViewModels.UplataDodajVM

<h2>Dodaj uplatu</h2>

<div>
    <form asp-controller="MedicinskaSestra" asp-action="UplataDodaj" method="post">
        <div class="form-group">
            <label>Datum Uplate</label>
            <input asp-for="DatumUplate" class="form-control" />
            <span asp-validation-for="@Model.DatumUplate"></span>
        </div>
        <div class="form-group">
            <label>Iznos</label>
            <input asp-for="Iznos" class="form-control" />
            <span asp-validation-for="@Model.Iznos"></span>
        </div>
        <div class="form-group">
            <label>Namjena</label>
            <input asp-for="Namjena" class="form-control" />
            <span asp-validation-for="@Model.Namjena"></span>
        </div>
        <div class="form-group">
            <label>Broj Uplatnica</label>
            <input asp-for="BrojUplatnice" class="form-control" />
            <span asp-validation-for="@Model.BrojUplatnice"></span>
        </div>
        <div class="form-group">
            <label>Ziro Racun</label>
            <input asp-for="ZiroRacun" class="form-control" />
            <span asp-validation-for="@Model.ZiroRacun"></span>

        </div>
        <div class="form-group">
            <label>Pregled</label>
            <select asp-items="@Model.Pregledi" asp-for="@Model.PregledId" class="form-control"></select>
        </div>
        <div class="form-group">
            <label>Pacijent</label>
            <select asp-items="@Model.Pacijenti" id="PacijentiDropdown" data-placeholder="Unesite ime i prezime pacijenta..." asp-for="@Model.PacijentId" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="@Model.PacijentId"></span>
        </div>

        <input type="submit" value="Submit" class="btn btn-default" />
    </form>
</div>
<script>

    $("#PacijentiDropdown").chosen({
        max_shown_results: 10
    });

</script>
