@model eKlinika.ViewModels.UputnicaPrikazPacijentaVM
@{
    ViewData["Title"] = "Pacijent " + Model.Pacijent.Korisnici.Ime + " " + Model.Pacijent.Korisnici.Prezime;
}

<div style="margin-top: 20px">
  
        <a asp-action="UputnicaIndex" class="btn btn-primary font-sizes"><i class="fas fa-hand-point-left icons-margin-right"></i>Nazad</a>
</div>

<h2>@ViewData["Title"]</h2>


<ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">Pacijent</li>
    <li class="tab-link" data-tab="tab-2">Uputnice</li>
    <li class="tab-link" data-tab="tab-3">Nalazi</li>
</ul>

<div id="tab-1" class="tab-content current" >

    <h3>Osnovni podaci o pacijentu</h3>
    <div class="row" style="padding-left:20px;">

        <div class="form-group">
            <label>Ime:</label>
            @Model.Pacijent.Korisnici.Ime
        </div>

        <div class="form-group">
            <label>Prezime:</label>
            @Model.Pacijent.Korisnici.Prezime
        </div>

        <div class="form-group">
            <label>Godište:</label>
            @Model.Pacijent.Korisnici.DatumRodjenja.Year
        </div>

        <div class="form-group">
            <label>Grad:</label>
            @Model.Pacijent.Korisnici.Grad.Naziv
        </div>

        <a asp-action="PacijentDetalji" asp-route-id="@Model.PacijentId" class="btn btn-primary">Detalji</a>

    </div>

</div>
<div id="tab-2" class="tab-content">
    
</div>
<div id="tab-3" class="tab-content">

</div>
<style>
    #tab-1, #tab-2, #tab-3 {
        box-shadow: 0.8px 0.8px 0.8px 0.8px #d0d0d0 ;
    }
</style>
<script>
    $(document).ready(function () {

        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })

        $.get('/MedicinskaSestra/UputnicaPrikazi/@Model.PacijentId', function (data) {
            $('#tab-2').html(data);
        });
        $.get('/MedicinskaSestra/NalaziIndex/@Model.PacijentId', function (data) {
            $('#tab-3').html(data);
        });

    })
</script>