@model eKlinika.ViewModels.UputnicaDodajVM
@{
    ViewData["Title"] = "Dodaj";
}
<h2>Nova uputnica</h2>
<form asp-action="UputnicaDodaj" asp-controller="MedicinskaSestra" ajax-poziv="da" ajax-rezultat="tab-2" method="post">

    @Html.HiddenFor(x => x.PacijentId)

    <div class="form-group">
        <label>Datum uputnice</label>
        <input asp-for="DatumUputnice" class="form-control" value="@Model.DatumUputnice.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" />
    </div>

    <div class="form-group">
        <label>Datum rezultata</label>
        <input asp-for="DatumRezultata" class="form-control" value="@Model.DatumRezultata.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" />
    </div>

    <div class="form-group">
        <label>Ljekar uputio</label>
        <select asp-items="@Model.Doktori" asp-for="@Model.DokotorId" class="form-control"></select>
    </div>


    <div class="form-group">
        <label>Vrsta pretrage</label>
        <select asp-items="@Model.VrstePretrage" asp-for="@Model.VrstePretrageId" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Gotov nalaz</label>
        <input asp-for="IsGotovNalaz" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Snimi</button>
</form>

