@model eKlinika.Models.UstanovljenaDijagnoza
@{

}
<div class="container-fluid marginTop1em">

        <div class="row form-group">
            <label asp-for="@Model.DijagnozaId" style="display: block;">Dijagnoza: </label>
            <input asp-for="@Model.Dijagnoza.Opis" class="dropdown form-control col-md-4"  disabled/>
        </div>
        <div class="row form-group">
            <label asp-for="@Model.Detalji">Detalji: </label>
            <textarea class="form-control" asp-for="@Model.Detalji" style="resize:none" rows="6" disabled></textarea>
        </div>
        <div class="row form-group">
            <label asp-for="@Model.Napomena">Napomena: </label>
            <textarea class="form-control" asp-for="@Model.Napomena" style="resize:none" rows="6" disabled></textarea>
        </div>

</div>