@model eKlinika.ViewModels.UstanovljenaDijagnozaVM
@{

}
    <div class="container-fluid marginTop1em">
        <form asp-action="Dodaj" asp-controller="Dijagnoza" >
            <input type="hidden" asp-for="@Model.PregledId" />
            <div class="row form-group">
                <label asp-for="@Model.DijagnozaId" style="display: block;">Dijagnoza: </label>
                <select asp-for="@Model.DijagnozaId" asp-items="@Model.DijagnozeList" class="dropdown form-control col-md-4"></select>
            </div>
            <div class="row form-group">
                <label asp-for="@Model.Detalji">Detalji: </label>
                <textarea class="form-control" asp-for="@Model.Detalji" style="resize:none" rows="6"></textarea>
            </div>
            <div class="row form-group">
                <label asp-for="@Model.Napomena">Napomena: </label>
                <textarea class="form-control" asp-for="@Model.Napomena" style="resize:none" rows="6"></textarea>
            </div>
            <div class="row">
                <input type="submit" value="Snimi" class="btn btn-danger pull-right" ajax-poziv="da" ajax-rezultat="rezDiv"/>
            </div>
        </form>
</div>
