@model eKlinika.Models.Pregled
<style>
    .paddingLeft0 {
        padding-left: 0;
    }

    .marginBottom1em {
        margin-bottom: 1em;
    }

    .marginTop0 {
        margin-top: 0;
    }

    .containerStyle {
        background-color: white;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 picDiv">
            <img src="~/images/logo.png" class="img-responsive img-circle logoPicture" />
        </div>
        <div class="col-md-8 dodajHeaderDiv">
            <h1>Detalji termina</h1>
        </div>
    </div>
    <div class="row containerStyle">

            <div class="col-md-4">
                <h3>Detalji o pacijentu:</h3>

                <div class="img-responsive col-md-9 col-xs-12 marginBottom1em">
                    @if (Model.Pacijent.Korisnici.Slika == null || Model.Pacijent.Korisnici.Slika.Length <1000)
                    {
                        <img id="blah" src="~/images/default-profile-photo.png" alt="Image" class="img-thumbnail col-md-12" style="padding:0; height:18em;" />
                    }
                    else
                    {
                    <img id="blah" src="data:image/png;base64,@Convert.ToBase64String(Model.Pacijent.Korisnici.Slika)" alt="Image" class="img-thumbnail col-md-12 col-xs-12" style="padding:0;" />
                    }
                </div>
                <div class="col-md-12">
                    <p><b>Ime i prezime</b>: @(Model.Pacijent.Korisnici.Ime + " " + Model.Pacijent.Korisnici.Prezime)</p>
                    <p><b>Spol:</b> @Model.Pacijent.Korisnici.Spol</p>
                    <p><b>Starost:</b> @(DateTime.Now.Year - Model.Pacijent.Korisnici.DatumRodjenja.Year)</p>
                    <p><b>Broj knjizice:</b> @Model.Pacijent.BrojKnjizice</p>
                    <p><b>Broj kartona:</b> @Model.Pacijent.BrojKartona</p>
                </div>
                <h3 class="col-md-12 paddingLeft0">Detalji o pregledu:</h3>
                <div class="col-md-12">
                    <p><b>Doktor:</b> @(Model.Doktor.Titula + " " + Model.Doktor.Osoblje.Korisnici.Ime + " " + Model.Doktor.Osoblje.Korisnici.Ime)</p>
                    <p><b>Datum rezervisanja:</b> @Model.DatumRezervacije.ToString("dd.MM.yyyy")</p>
                    <p><b>Datum pregleda:</b> @Model.DatumPregleda.ToString("dd.MM.yyyy")</p>
                    <p><b>Vrijeme pregleda:</b> @Model.DatumPregleda.ToString("HH:mm")</p>
                    <p class=" col-md-9 noPaddingClass">
                        <b> <span asp-for="@Model.Napomena">Napomena:</span></b>
                        <textarea class="form-control" asp-for="@Model.Napomena" style="resize:none" rows="4" disabled></textarea>
                    </p>

                </div>
            </div>
        <div class="col-md-8" style="height:inherit">
            <ul class="nav nav-tabs nav-justified" id="tabs-list">
                <li class="active"><a asp-controller="Dijagnoza" asp-action="DijagnozaDetailsIndex" asp-route-Id="@Model.Id" class="clickMe" ajax-poziv="da" ajax-rezultat="rezDiv">Dijagnoze</a></li>
                <li><a asp-controller="Pregledi" asp-action="DetailsReceptIndex" asp-route-Id="@Model.Id" ajax-poziv="da" ajax-rezultat="rezDiv">Recepti</a></li>
                <li><a asp-controller="Doktor" asp-action="UputnicaPrikazi" asp-route-Id="@Model.PacijentId" asp-route-readOnly="1" ajax-poziv="da" ajax-rezultat="rezDiv">Uputnice</a></li>
            </ul>
            <div class=" container-fluid marginTop0 paddingLeft0 paddingRight0" id="rezDiv">

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.clickMe').click();
        $('#tabs-list li').on("click", function () {
            $('#tabs-list li.active').not(this).removeClass('active');
            $(this).toggleClass('active');
        });
    });
</script>