@model eKlinika.ViewModels.PropisaniLijekoviVM
@{ 

}
<div class="container-fluid marginTop1em">
    <form asp-action="IzdavanjeRecepta" asp-controller="Pregledi">
        <input type="hidden" asp-for="@Model.PregledId" />
        <div class="row form-group">
            <label asp-for="@Model.LijekId">Dijagnoza: </label>
            <select asp-for="@Model.LijekId" asp-items="@Model.Lijekovi" class="dropdown form-control col-md-4"></select>
        </div>
        <div class="row form-group">
            <label asp-for="@Model.Kolicina">Kolicina: </label>
            <input type="number" class="form-control" asp-for="@Model.Kolicina" min="0"/> 
        </div>
        <div class="row form-group">
            <label asp-for="@Model.Uputstvo">Uputstvo: </label>
            <textarea class="form-control" asp-for="@Model.Uputstvo" style="resize:none" rows="6"></textarea>
        </div>
        <div class="row">
            <input type="submit" value="Snimi" class="btn btn-danger pull-right" ajax-poziv="da" ajax-rezultat="rezDiv" />
        </div>
    </form>
</div>
