@model eKlinika.Models.Recept
@{
    string nazivLijeka = Model.Lijek.Naziv + " ( " + Model.Lijek.Tip + " )";
}

<div class="container-fluid marginTop1em">
    <input type="hidden" asp-for="@Model.PregledId" />
    <div class="row form-group">
        <label asp-for="@Model.LijekId">Lijek: </label>
        <input type="text" class="form-control" asp-for="@nazivLijeka" disabled />
    </div>
    <div class="row form-group">
        <label asp-for="@Model.Kolicina">Kolicina: </label>
        <input type="number" class="form-control" asp-for="@Model.Kolicina" disabled />
    </div>
    <div class="row form-group">
        <label asp-for="@Model.Uputstvo">Uputstvo: </label>
        <textarea class="form-control" asp-for="@Model.Uputstvo" style="resize:none" rows="6" disabled></textarea>
    </div>
</div>
