@model eKlinika.ViewModels.NarudzbaIndexVM

<div class="row" id="pozz" style="margin: 60px 0 0 400px;">
    <form style="position:absolute; border: solid black 5px;" class="col-md-3">
        <h4>Detalji narudžbe</h4>

        <div class="form-group">
            <input id="narudzbaIdInput" asp-for="@Model.Id" value="@Model.Id" readonly hidden />
        </div>
        <div class="form-group">
            <label asp-for="@Model.DatumNarudzbe"></label>
            <input asp-for="@Model.DatumNarudzbe" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.DatumIsporuke"></label>
            <input asp-for="@Model.DatumIsporuke" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Dobavljac"></label>
            <input asp-for="@Model.Dobavljac" readonly class="form-control" />
        </div>

        <h4>Stavke narudžbe</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Lijek</th>
                    <th>Cijena po komadu</th>
                    <th>Količina</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Stavke)
                {
                    <tr>
                        <td>@item.Lijek</td>
                        <td>@item.CijenaPoKomadu KM</td>
                        <td>@item.Kolicina</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <label asp-for="@Model.IznosNarudzbe"></label>
            <input value="@Model.IznosNarudzbe.ToString("0.00") KM" readonly class="form-control" />
        </div>



        <div class="form-group">
            <!--    <input class="btn btn-danger" type="submit" value="Uredi" asp-action="UrediNarudzbu" asp-controller="Apoteka"/>
        -->
            @{
                if (!Model.DatumIsporuke.HasValue)
                {
                    <input class="btn btn-danger" type="submit" asp-action="NarudzbaFinaliziraj" asp-controller="Apoteka" value="Finaliziraj" />
                }
            }
            <button type="button" class="btn btn-primary" onclick="window.history.back(); return false;">Nazad</button>
            <a class="btn btn-danger" asp-controller="Apoteka" asp-action="IzbrisiNarudzbu" asp-route-id="@Model.Id">Izbrisi</a>
        </div>
    </form>
    <br />
</div>

