@model eKlinika.ViewModels.LijekDodajVM

<div class="row" style="margin: 20px 0 40px 400px;">
    <form asp-controller="Apoteka" asp-action="Dodaj" method="post" style="position:absolute; border: solid black 5px;" class="col-md-3">
        <div class="form-group" style="margin-top: 10px;">
            <label asp-for="@Model.Naziv"></label>
            <input asp-for="@Model.Naziv" class="form-control" />
            <span asp-validation-for="Naziv" class="text-muted"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PoReceptu"></label>
            <input asp-for="@Model.PoReceptu" class="form-control col-md-2" type="checkbox"/>
            <span asp-validation-for="@Model.PoReceptu"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Tip"></label>
            <input asp-for="@Model.Tip" class="form-control" />
            <span asp-validation-for="@Model.Tip"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Proizvodjac"></label>
            <select asp-for="@Model.Proizvodjac" asp-items="@Model.Proizvodjaci" class="form-control"></select>
            <span asp-validation-for="@Model.Proizvodjac"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.CijenaPoKomadu"></label>
            <input asp-for="@Model.CijenaPoKomadu" type="number" class="form-control" />
            <span asp-validation-for="@Model.CijenaPoKomadu"></span>
        </div>
            <div class="form-group">
                <label asp-for="@Model.UkupnoNaStanju"></label>
                <input asp-for="@Model.UkupnoNaStanju" type="number" class="form-control" />
                <span asp-validation-for="@Model.UkupnoNaStanju"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Uputstvo"></label>
                <input asp-for="@Model.Uputstvo" type="text" class="form-control" />
                <span asp-validation-for="@Model.Uputstvo"></span>
            </div>
        <div>
        <input type="submit" class="btn btn-danger" value="Spremi" style="margin-bottom: 10px;" />
</div>
            </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}