@model eKlinika.ViewModels.NarudzbaIndexListVM
 
@{ 
   var brojac = 0;
}
<div class="row" style="position:absolute; margin-top: 40px; margin-left: 270px;">
    <table class="table table-striped" style=" text-align: center;">
        <thead>
            <tr>
                <th scope="row">#</th>
                <th scope="row">Datum narudzbe</th>
                <th scope="row">Datum isporuke</th>
                <th scope="row">Dobavljac</th>
                <th scope="row">Akcija</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach(var narudzba in Model.Narudzbe)
            {
                <tr>
                    <th>@brojac</th>
                    @{ 
                        brojac += 1;
                    }
                    <td>@narudzba.DatumNarudzbe.ToShortDateString()</td>
                    <td>
                        @{
                            if (narudzba.DatumIsporuke.HasValue) { 
                                <span>@narudzba.DatumIsporuke.Value.ToShortDateString()</span>
                            }
                            else
                            {
                                <span>- - -</span>
                            }
                        }
                    </td>
                       <td>@narudzba.Dobavljac</td>
                    <td><a class="btn btn-success" asp-controller="Apoteka" asp-action="DetaljiNarudzbe" asp-route-id="@narudzba.Id">Detalji</a></td>
                </tr>
            }
        </tbody>
    </table>
    
    <a class="btn btn-danger" style="margin-bottom: 40px;" asp-controller="Apoteka" asp-action="DodajNarudzbu">Dodaj</a>
</div>


