@model eKlinika.ViewModels.ApotekaRacunVM
@{
    var user = Context.GetLogiraniKorisnik();

    var role = (user != null ? Context.GetUlogaKorisnika().Naziv : "");
}

<br />
<div class="row col-md-6" style="position: absolute; margin: 20px 0 0 450px;" id="izdajRacunDiv">
    <form asp-action="IzdavanjeRacuna2" method="post" class="col-md-5" style="border: solid black 5px;">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group" style="margin-top: 20px;">
            <label asp-for="@Model.Datum"></label>
            <input id="datumInput" asp-for="@Model.Datum" readonly class="form-control" />
            <span asp-validation-for="@Model.Datum"></span>
        </div>

        <div class="form-group" hidden>
            <label asp-for="@Model.ApotekarId"></label>
            <select id="apotekarSelect" asp-items="@Model.Apotekari" asp-for="@Model.ApotekarId" class="form-control"></select>
            <span asp-validation-for="@Model.ApotekarId"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.PacijentId"></label>
            <select id="pacijentSelect" asp-items="@Model.Pacijenti" asp-for="@Model.PacijentId" class="form-control"></select>
            <span asp-validation-for="@Model.PacijentId"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.LijekId"></label>
            <select multiple id="lijekovi" asp-for="@Model.LijekId" asp-items="@Model.Lijekovi" class="form-control"></select>
            <span asp-validation-for="@Model.LijekId"></span>
        </div>
        
        @if(role == "Apotekar")
        {
            <button class="btn btn-danger" style="margin-bottom: 20px;">Create</button>
        }
        else
        {
            <div class="alert alert-danger">Samo apotekari mogu izdavati račune.</div>
        }
    </form>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}