@model eKlinika.ViewModels.LijekListVM

@{ 
   int i = 1;
}

<div id="lijekLibDiv">
    <div class="row" style="position:absolute; margin-top: 20px; margin-left: 270px;">
        <div class="row" style="margin-left: 350px;">
            <input type="text" id="txt"/>
            <input type="button" id="searchBtn" value="Trazi" />
        </div>
        
        <table class="table table-striped" style=" text-align: center;">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th scope="row">Naziv</th>
                    <th scope="row">
                        Proizvodjac
                    </th>
                    <th scope="row">Cijena po komadu</th>
                    <th scope="row">Ukupno na stanju</th>
                    <th scope="row">Akcija</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var lijek in Model.Lijekovi)
                    {
                        <tr>
                            <th>@i</th>
                            @{
                                i += 1;
                            }
                            <td>@lijek.Naziv</td>
                            <td>@lijek.Proizvodjac</td>
                            <td>@lijek.CijenaPoKomadu KM</td>
                            <td>@lijek.UkupnoNaStanju</td>
                            <td>
                                <a class="btn btn-success" asp-controller="Apoteka" asp-action="Detalji" asp-route-id="@lijek.Id">Detalji</a>
                            </td>
                        </tr>
                                }
                }
            </tbody>

        </table>
        <br />
        <a class="btn btn-danger" asp-controller="Apoteka" asp-action="Dodaj">Dodaj</a>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#searchBtn').click(function () {

            var search = document.getElementById('txt').value;

            $.ajax({
                type: 'GET',
                url: '/Apoteka/LijekSearch',
                data: { 'search': search },
                success: function (result) {
                    //$(document).html(result);
                    $('#lijekLibDiv').html(result);
                }
            });
        });
       
    });
</script>