@model eKlinika.ViewModels.ApotekaReceptIndexVM

@{
    int i = 1;
}

<div class="row" id="filteredDiv">
    <h2 style="text-align:center; margin-top: 20px;">Recepti</h2>

    <div class="row" style="position: absolute; margin: 40px 0 0 260px;">
        <div class="row" style="margin-left: 430px;">
            <select id="filterSelect">
                <option value="0">All</option>
                <option value="1">Obradjen</option>
                <option value="2">Neobradjen</option>
            </select>
            <input id="filterBtn" type="button" value="Filter" />
        </div>
        <table class="table table-striped table-condensed" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th>Datum pregleda</th>
                    <th>Lijek</th>
                    <th>Pacijent</th>
                    <th>Doktor</th>
                    <th>Obradjen</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recept in Model.Recepti)
                {
                    <tr>
                        <th>@i</th>
                        @{
                            i += 1;
                        }
                        <td>@recept.DatumIzdavanja.ToShortDateString()</td>
                        <td>@recept.NazivLijeka</td>
                        <td>@recept.PacijentIme</td>
                        <td>@recept.DoktorIme</td>
                        <td>@(recept.Obradjen ? "DA" : "NE")</td>
                        @{
                            if (!recept.Obradjen)
                            {
                                <td>
                                    <a class="btn btn-success" asp-controller="Apoteka" asp-action="ObradiRecept" asp-route-id="@recept.ReceptId">Obradi</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <h5>Obrađen</h5>
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
    <script>
        $('#filterBtn').click(function () {
            var selected = document.getElementById('filterSelect');

            $.ajax({
                type: 'GET',
                data: { 'value': selected.value },
                url: '/Apoteka/FilterRecepti',
                success: function (result) {
                    $('#filteredDiv').html(result);
                }

            });
        });
    </script>
