@model eKlinika.ViewModels.PacijentUrediVM

<div class="row">
    <form class="col-md-5" asp-controller="Referent" asp-action="Uredi" method="post" enctype="multipart/form-data">
        <div class="container mainContainer">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 picDiv">
                    <img src="~/images/logo.png" class="img-responsive img-circle logoPicture" />
                </div>
                <div class="col-md-8 dodajHeaderDiv">
                    <h1>Uredi Profil</h1>
                </div>
            </div>

            <div class="container dodajFormContainerUpper">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-2 col-sm-8 ">
                        <div class="col-md-12 col-xs-10">
                            <img id="blah" src="data:image/png;base64,@Model.Slika" alt="Image" class="img-thumbnail col-md-12 " style="padding:0; height:18em;" />
                            <label class="btn btn-default btn-file col-md-12 col-xs-12 ">
                                Browse<input type='file' id="imgInp" name="imgInp" style="display:none" />
                            </label>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.JMBG">JMBG:</label>
                        <input asp-for="@Model.JMBG" value="@Model.JMBG" class="form-control  col-md-12" type="text" />
                        <span asp-validation-for="@Model.JMBG"></span>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.Ime">Ime</label>
                        <input asp-for="@Model.Ime" value="@Model.Ime" class="form-control  col-md-12" type="text" />
                        <span asp-validation-for="@Model.Ime"></span>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.Prezime">Prezime</label>
                        <input asp-for="@Model.Prezime" value="@Model.Prezime" class="form-control  col-md-12" type="text" />
                        <span asp-validation-for="@Model.Prezime"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.DatumRodjenja">Datum rodjenja</label>
                        <input asp-for="@Model.DatumRodjenja" class="form-control  col-md-12" type="date" />
                        <span asp-validation-for="@Model.DatumRodjenja"></span>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.Telefon">Telefon</label>
                        <input asp-for="@Model.Telefon" value="@Model.Telefon" class="form-control  col-md-12" type="text" />
                        <span asp-validation-for="@Model.Telefon"></span>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.Spol">Spol</label>
                        <select asp-for="@Model.Spol" asp-items="@Model.Spolovi" class="form-control col-md-12"></select>
                        <span asp-validation-for="@Model.Spol"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.Ulica">Ulica</label>
                        <input asp-for="@Model.Ulica" value="@Model.Ulica" type="text" class="form-control col-md-12" />
                        <span asp-validation-for="@Model.Ulica"></span>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.Broj">Broj</label>
                        <input asp-for="@Model.Broj" value="@Model.Broj" type="text" class="form-control col-md-12" />
                        <span asp-validation-for="@Model.Broj"></span>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.Grad">Grad</label>
                        <select asp-for="@Model.Grad" asp-items="@Model.Gradovi" class="form-control col-md-12"></select>
                        <span asp-validation-for="@Model.Grad"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.BrojKnjizice">Broj knjizice</label>
                        <input asp-for="@Model.BrojKnjizice" value="@Model.BrojKnjizice" type="text" class="form-control col-md-12" />
                        <span asp-validation-for="@Model.BrojKnjizice"></span>
                    </div>
                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.BrojKartona">Broj kartona</label>
                        <input asp-for="@Model.BrojKartona" value="@Model.BrojKartona" type="text" class="form-control col-md-12" />
                        <span asp-validation-for="@Model.BrojKartona"></span>
                    </div>

                    <div class="col-md-4 col-sm-12 form-group">
                        <label asp-for="@Model.DatumRegistracije">Datum registracije</label>
                        <input asp-for="@Model.DatumRegistracije" type="date" class="form-control col-md-12" />
                        <span asp-validation-for="@Model.DatumRegistracije"></span>
                    </div>
                </div>
            </div>
            <div class=" container dodajFormContainerLower">
                <div class="row">
                    <div class="col-md-6" style="padding-left:0; padding-right:0">
                        <div class="col-md-12 form-group">
                            <label asp-for="@Model.Visina">Visina</label>
                            <input asp-for="@Model.Visina" value="@Model.Visina" type="text" class="form-control" />
                            <span asp-validation-for="@Model.Visina"></span>
                        </div>
                        <div class="col-md-12 col-sm-12 form-group">
                            <label asp-for="@Model.Tezina">Tezina</label>
                            <input asp-for="@Model.Tezina" value="@Model.Tezina" type="text" class="form-control" />
                            <span asp-validation-for="@Model.Tezina"></span>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right:0;padding-left:0">
                        <div class="col-md-12 col-sm-12 form-group">
                            <label asp-for="@Model.SpecijalniZahtjevi">Specijalni zahtjevi</label>
                            <textarea asp-for="@Model.SpecijalniZahtjevi" type="text" style="height:7.7em" class="form-control col-md-12"></textarea>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 form-group">
                        <label asp-for="@Model.KrvnaGrupa"></label>
                        <select asp-items="@Model.KrvneGrupe" asp-for="@Model.KrvnaGrupa" class="form-control"></select>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label asp-for="@Model.Alergije">Alergije</label><br />
                        <input asp-for="@Model.Alergije" type="text" class="form-control col-md-12" />
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3">
                    </div>

                    <div class="col-md-3 text-center">
                        <button type="submit" class="btn btn-danger col-md-12 font-sizes">
                            <i class="fas fa-thumbs-up"></i> Snimi
                        </button>
                    </div>

                    <div class="col-md-3 text-center">
                        <a asp-action="Pretraga" asp-controller="Referent" class="btn btn-danger col-md-12 font-sizes"><i class="fas fa-hand-point-left icons-margin-right"></i>Nazad</a>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>


                <br />
            </div>
        </div>

    </form>
</div>